.links button {
  box-shadow: inset 0 0 0 0 rgb(55,55,64);
  color: rgb(55,55,64);
  padding: 0 .15rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  border: none;
  font: inherit;
  background-color: transparent;
}

.links button:hover {
  box-shadow: inset 100px 0 0 0 rgb(55,55,64);
  color: #f0ece2;
}

@media (max-width: 900px) {
  .links button:hover {
    box-shadow: inset 0 -100px 0 0 rgb(55,55,64);
    color: #f0ece2;
  }
}

.links .current {
  box-shadow: inset 100px 0 0 0 rgb(55,55,64);
  color: #f0ece2;
}

.socials a {
  color: rgb(55,55,64);
  display: inline-block;
  transition: 0.3s;
}

.socials .linkedin:hover {
  color: #0072b1;
  transform: scale(1.2);
}

.socials .github:hover {
  color: black;
  transform: scale(1.2);
}

.socials .email:hover {
  color: #DB4437;
  transform: scale(1.2);
}

.socials .goodreads:hover {
  color: #553b08;
  transform: scale(1.2);
}

.projects li {
  margin-top: 1vw
}

.projects a {
  color: rgb(55,55,64);
}

.arrow {
  color: rgb(55,55,64);
  transition: transform 0.3s;
  font-size: 15px;
}

.link:hover .arrow {
  transform: translateX(5px);
  color: #0072b1;
}

.info-container .link {
  color: rgb(55,55,64);
}

.about-container .arrow {
  color: rgb(55,55,64);
  transition: transform 0.3s;
  font-size: 12px;
}

.link:hover .arrow {
  transform: translateX(5px);
  color: #0072b1;
}
