.centered-content {
    text-align: center; // Center the content within this container
  }
  
  // Additional styles for other elements if needed
  h2 {
    text-align: left; // Left-align the h2 elements
  }
  
  p {
    text-align: left; // Left-align the paragraph elements
  }
  
  ul {
    text-align: left; // Left-align the unordered list elements
  }
  